@import "https://fonts.googleapis.com/icon?family=Material+Icons+Round";
@import url("https://fonts.googleapis.com/css2?family=Alata:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Homemade+Apple&display=swap");

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: "Alata", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.w-100 {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center !important;
}

.mat-mdc-form-field {
  display: block !important;
  margin-bottom: 20px;
}

.mat-mdc-card-title {
  margin: 20px 0 0 0 !important;
}

mat-toolbar {
  justify-content: center;
}

.mat-mdc-simple-snack-bar {
  white-space: pre-line;
  text-align: center;

  & > * {
    line-height: 1.5 !important;
    font-size: 20px !important;
  }
}

mat-snack-bar-container {
  margin: 68px !important;
}

.snackbar__error {
  .mdc-snackbar__surface {
    padding: 0 !important;
  }

  .mat-mdc-simple-snack-bar {
    background-color: #ec407a !important;
    border-radius: 5px;
  }
}
