<form [formGroup]="nuovoMovimentoForm" style="margin-bottom: 2rem;" (ngSubmit)="onSubmit()">
  <h2>Aggiungi movimento</h2>
  <div class="form-row">
    <mat-form-field class="form-control-small">
      <mat-label>Creato da</mat-label>
      <mat-select formControlName="creato_da">
        <mat-option *ngFor="let ufficiale of ufficiali" [value]=ufficiale._id>
          {{ufficiale.grado}} {{ufficiale.nome}} {{ufficiale.cognome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Importo</mat-label>
      <input matInput type="text" formControlName="importo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descrizione</mat-label>
      <input matInput type="text" formControlName="descrizione">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="form-control-full">
      <mat-label>Note</mat-label>
      <input matInput type="text" formControlName="note">
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Data movimento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="data_movimento">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button color="primary" mat-flat-button>Aggiungi movimento</button>
  <div *ngIf="error">
    {{error}}
  </div>
</form>